In [5]:
import pandas as pd
import sys, os
import re

In [3]:
for t in content['0'].unique():
    print(t)
    print(content[content['0'] == t]['1'].min())
    print(content[content['0'] == t]['2'].max())

NameError: name 'content' is not defined

In [122]:
filepath = "D:/git/youbike_prediction/result/model_rmse_percentage.csv"

df = pd.read_csv(filepath)

In [123]:
print(df)

    Unnamed: 0  result_lasso.csv  result_ridge.csv  result_rf.csv  \
0    y_sbi_001          0.062098          0.063059       0.063186
1    y_sbi_002          0.122644          0.123380       0.126710
2    y_sbi_003          0.120827          0.121267       0.123245
3    y_sbi_004          0.061612          0.061634       0.063089
4    y_sbi_005          0.117148          0.116673       0.118542
..         ...               ...               ...            ...
366  y_sbi_400          0.104232          0.105311       0.105964
367  y_sbi_401          0.120240          0.121025       0.121519
368  y_sbi_402          0.049869          0.049794       0.050933
369  y_sbi_403          0.129685          0.130674       0.129554
370  y_sbi_404          0.111958          0.110741       0.110585

     result_sarima.csv       avg
0             0.100067  0.000336
1             0.187445  0.122553
2             0.178637  0.119648
3             0.103495  0.060850
4             0.173843  0.115543
..                 ...       ...
366           0.157759  0.103510
367           0.179431  0.120060
368           0.077880  0.049685
369           0.183235  0.127840
370           0.167666  0.108364

[371 rows x 6 columns]

In [124]:
df.index = df['Unnamed: 0'].apply(lambda x: int(re.findall('\d+', x)[0]))

In [125]:
df.mean()

C:\Users\Maureen\AppData\Local\Temp/ipykernel_15148/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

result_lasso.csv     0.097854
result_ridge.csv     0.098015
result_rf.csv        0.098980
result_sarima.csv    0.150205
avg                  0.096585
dtype: float64

In [126]:
small_sno = [39, 53, 69, 130, 172, 196, 205, 234, 239, 262, 264, 271, 280, 290, 295, 297, 300, 301, 320, 323, 324, 327, 330, 333, 334, 336, 340, 347, 348, 349, 354, 357, 372, 383, 388, 393, 395, 396, 402, 403]
big_sno = [1, 4, 5, 6, 7, 8, 21, 26, 30, 36, 61, 82, 83, 88, 103, 115, 119, 121, 132, 134, 143, 148, 149, 162, 163, 165, 176, 186, 202, 210, 215, 288, 405]
mid_sno = [2, 3, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 22, 23, 24, 25, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 116, 117, 118, 120, 122, 123, 124, 125, 126, 127, 128, 129, 131, 133, 135, 136, 137, 138, 139, 140, 141, 142, 144, 145, 146, 147, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 164, 166, 167, 168, 169, 170, 171, 173, 174, 175, 177, 178, 179, 180, 181, 182, 183, 184, 185, 187, 188, 189, 190, 191, 192, 193, 194, 195, 197, 201, 203, 204, 206, 207, 208, 209, 211, 212, 213, 214, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 235, 236, 237, 238, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 263, 265, 266, 267, 268, 269, 270, 272, 273, 274, 275, 276, 277, 278, 279, 281, 282, 283, 284, 285, 286, 287, 289, 291, 292, 293, 294, 296, 298, 299, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 321, 322, 325, 326, 328, 329, 331, 332, 335, 337, 338, 339, 341, 342, 343, 344, 345, 346, 350, 351, 352, 353, 355, 356, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 384, 385, 386, 387, 389, 390, 391, 392, 394, 397, 398, 399, 400, 401, 404]

In [127]:
df = df.drop(['Unnamed: 0'], axis=1)

In [128]:
df

,result_lasso.csv,result_ridge.csv,result_rf.csv,result_sarima.csv,avg
Unnamed: 0,,,,,
1,0.062098,0.063059,0.063186,0.100067,0.000336
2,0.122644,0.123380,0.126710,0.187445,0.122553
3,0.120827,0.121267,0.123245,0.178637,0.119648
4,0.061612,0.061634,0.063089,0.103495,0.060850
5,0.117148,0.116673,0.118542,0.173843,0.115543
...,...,...,...,...,...
400,0.104232,0.105311,0.105964,0.157759,0.103510
401,0.120240,0.121025,0.121519,0.179431,0.120060
402,0.049869,0.049794,0.050933,0.077880,0.049685
403,0.129685,0.130674,0.129554,0.183235,0.127840
404,0.111958,0.110741,0.110585,0.167666,0.108364

In [129]:
df = df.rename(columns={"result_lasso.csv": "lasso", "result_ridge.csv": "ridge", "result_rf.csv": "rf", "result_sarima.csv":"arima", "avg":"avg"})

In [37]:
df[df.index.isin(small_sno)].mean()

lasso    0.111112
ridge    0.111291
rf       0.111830
arima    0.166328
avg      0.109851
dtype: float64

In [40]:
df[df.index.isin(big_sno)].mean()

lasso    0.084973
ridge    0.085313
rf       0.086357
arima    0.135018
avg      0.083842
dtype: float64

In [41]:
df[df.index.isin(mid_sno)].mean()

lasso    0.097480
ridge    0.097618
rf       0.098622
arima    0.149611
avg      0.096395
dtype: float64

In [45]:
lost_sno = (set(range(1,406)) - set(df.index))

In [43]:
ignore_list = [15, 20, 160, 198, 199, 200] # no station
ignore_list2 = [28, 47, 58, 69, 99, 101 ,106, 124 ,153 , 168, 174 ,185 ,190 ,229,237 ,239,240 ,264 ,306 ,311 ,313,330,346,378,382,383,387]
ignore_list3 = [31,79,95,124,170,174,237,390]

In [48]:
lost_sno - set(ignore_list) - set(ignore_list3)

{28,
 47,
 58,
 69,
 99,
 101,
 106,
 153,
 168,
 185,
 190,
 229,
 239,
 240,
 264,
 306,
 311,
 313,
 330,
 346,
 378,
 382,
 383,
 387,
 405}

In [52]:
df['arima'][df['arima'].isna()]

Unnamed: 0
31    NaN
79    NaN
95    NaN
170   NaN
390   NaN
Name: arima, dtype: float64

In [56]:
df['lasso'][df['lasso'].isna()]

Series([], Name: lasso, dtype: float64)

In [60]:
df['ridge'].describe()

count    371.000000
mean       0.097846
std        0.023289
min        0.000350
25%        0.081852
50%        0.099526
75%        0.115189
max        0.156427
Name: ridge, dtype: float64

In [59]:
df['ridge'][df['ridge'] < 0.01]

Unnamed: 0
1    0.00035
Name: ridge, dtype: float64

In [130]:
filepath = "D:/git/youbike_prediction/result/statistic_csv/ha_ma_result_0701_finale.csv"

ma_df = pd.read_csv(filepath)

In [131]:
ma_df = ma_df.set_index('sno')

In [132]:
ma_df = ma_df.drop(['Unnamed: 0','ha_spendtime','ma_spendtime'],axis=1)

In [133]:
ma_df

         ha_rmse  ma_rmse_12  ma_rmse_3  ma_rmse_6
sno
1.0    39.089254   28.571178  18.775191  24.400148
2.0     9.783817    9.492183   8.387407   9.348807
3.0     8.619430    9.514970   6.617114   7.892941
4.0    11.617952   10.144689   5.985470   7.919635
5.0    12.480313   13.622601   9.848964  11.585463
...          ...         ...        ...        ...
400.0   6.941969    5.932021   4.631946   5.277658
401.0   7.061859    7.193016   5.449025   6.296396
402.0   3.458005    3.056030   1.985657   2.489248
403.0   5.265432    5.627632   4.712600   5.127641
404.0   6.906611    7.740119   4.942271   6.242258

[377 rows x 4 columns]

In [134]:
df.index.names = ['sno']

In [135]:
new_df = df.join(ma_df, on='sno')

In [136]:
new_df=new_df.drop(['avg'],axis=1)

In [137]:
ma_df

         ha_rmse  ma_rmse_12  ma_rmse_3  ma_rmse_6
sno
1.0    39.089254   28.571178  18.775191  24.400148
2.0     9.783817    9.492183   8.387407   9.348807
3.0     8.619430    9.514970   6.617114   7.892941
4.0    11.617952   10.144689   5.985470   7.919635
5.0    12.480313   13.622601   9.848964  11.585463
...          ...         ...        ...        ...
400.0   6.941969    5.932021   4.631946   5.277658
401.0   7.061859    7.193016   5.449025   6.296396
402.0   3.458005    3.056030   1.985657   2.489248
403.0   5.265432    5.627632   4.712600   5.127641
404.0   6.906611    7.740119   4.942271   6.242258

[377 rows x 4 columns]

In [138]:
tot_df = pd.read_csv("D:/git/youbike_prediction/data/youbike_station_info.csv")

In [139]:
tot_df = tot_df[['sno','tot']]

In [140]:
tot_df = tot_df.set_index(['sno'])

In [141]:
ma_df = ma_df.join(tot_df, on='sno')

In [142]:
ma_df_avg = ma_df.apply(lambda x: x/tot_df.tot)

In [143]:
ma_df_avg

        ha_rmse  ma_rmse_12  ma_rmse_3  ma_rmse_6  tot
sno
1.0    0.217163    0.158729   0.104307   0.135556  1.0
2.0    0.203830    0.197754   0.174738   0.194767  1.0
3.0    0.215486    0.237874   0.165428   0.197324  1.0
4.0    0.193633    0.169078   0.099758   0.131994  1.0
5.0    0.208005    0.227043   0.164149   0.193091  1.0
...         ...         ...        ...        ...  ...
401.0  0.207702    0.211559   0.160265   0.185188  1.0
402.0  0.123500    0.109144   0.070916   0.088902  1.0
403.0  0.188051    0.200987   0.168307   0.183130  1.0
404.0  0.230220    0.258004   0.164742   0.208075  1.0
405.0       NaN         NaN        NaN        NaN  NaN

[399 rows x 5 columns]

In [144]:
new_df = df.join(ma_df_avg, on='sno')

In [145]:
new_df = new_df.drop(['avg'],axis=1)
new_df.to_csv("final_result_rmse_percentage.csv")

In [146]:
new_df[new_df.index.isin(small_sno)].mean()

lasso         0.111112
ridge         0.111291
rf            0.111830
arima         0.166328
ha_rmse       0.203835
ma_rmse_12    0.206044
ma_rmse_3     0.151929
ma_rmse_6     0.177529
tot           1.000000
dtype: float64

In [147]:
new_df[new_df.index.isin(mid_sno)].mean()

lasso         0.097480
ridge         0.097618
rf            0.098622
arima         0.149611
ha_rmse       0.198346
ma_rmse_12    0.196604
ma_rmse_3     0.139701
ma_rmse_6     0.166913
tot           1.000000
dtype: float64

In [148]:
new_df[new_df.index.isin(big_sno)].mean()

lasso         0.086903
ridge         0.087273
rf            0.088321
arima         0.138128
ha_rmse       0.210178
ma_rmse_12    0.200832
ma_rmse_3     0.133009
ma_rmse_6     0.165913
tot           1.000000
dtype: float64

In [149]:
new_df.mean()

lasso         0.097854
ridge         0.098015
rf            0.098980
arima         0.150205
ha_rmse       0.199885
ma_rmse_12    0.197860
ma_rmse_3     0.140277
ma_rmse_6     0.167828
tot           1.000000
dtype: float64

In [106]:
nnn_df = pd.read_csv("D:/git/youbike_prediction/ppppppercenage.csv")

In [108]:
nnn_df = nnn_df.set_index(['Unnamed: 0'])

In [112]:
nnn_df.index.names = ['sno']

In [113]:
nnn_df

       Lasso     Ridge   Random Forest
sno
1    0.062110  0.063076        0.063098
2    0.122668  0.123386        0.126653
3    0.120841  0.121282        0.123212
4    0.061589  0.061612        0.063145
5    0.117189  0.116701        0.118196
..        ...       ...             ...
400  0.104254  0.105307        0.106302
401  0.120237  0.121010        0.121515
402  0.049876  0.049789        0.051779
403  0.129633  0.130639        0.129391
404  0.111946  0.110742        0.110514

[366 rows x 3 columns]

In [116]:
hah=new_df.join(nnn_df,on='sno')

In [118]:
hah = hah.drop(columns=['lasso', 'ridge', 'rf'])

In [120]:
hah.to_csv("final_result_rmse_percentage.csv")

In [121]:
hah.mean()

arima             0.149933
ha_rmse           0.199885
ma_rmse_12        0.197860
ma_rmse_3         0.140277
ma_rmse_6         0.167828
tot               1.000000
Lasso             0.098486
Ridge             0.098660
Random Forest     0.099676
dtype: float64